h1 {
    margin-top: 100px;
}

.buttonRemove {
    margin-right: 16px;
}

.buttonUpdate {
    margin-right: 16px;
}

.buttonReply {
    height: 80px;
}

.replyWriter {
    text-align: left;
    font-weight: 700;
}

.replyInner {
    text-align: left;
}

.replyDate {
    text-align: left;
}

.replyDelete {
    text-align: left;
    color: #696969;
}