.header-signup {
    margin-top: 100px;
}

.container-main {
    display: inline-block;
}

.container-signup {
    width: 500px;
    /* background-color: #E6E6E6; */
    padding: 10px 40px 40px 40px;
    border-radius: 20px / 20px;
    
}

.title-signup {
    margin-bottom: 50px;
}

.container-signup-main {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px / 20px;
}

.input-signup {
    width: 480px;
    height: 40px;
    border-radius: 5px / 5px;
    margin-bottom: 15px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid #c0c0c0;
}

#input-nickname {
    margin-bottom: 25px;
}

.button-signup-submit {
    width: 500px;
}

a {
    text-decoration: none;
}

a:visited {color: black;}

.container-signup {
    color: #a9a9a9;
}

.btn-signup {
    color: black;
    text-decoration: underline;
}

#errorCheck {
    color: red;
}