.App {
  text-align: center;
}

body {
  font-family: 'nanumsquare';
}

.black-nav {
  position: fixed;
  background: #282828;
  width: 100%;
  height: 7%;
  float: left;
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-inner-right {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

.nav-inner-left {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.nav-inner-title {
  font-size: 30px;
  margin-left: 10%;
  color: white;
}

.screen {
  padding-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.nav-inner-menu {
  color: white;
}

.nav-outer-menu {
  margin-right: 10%;
  margin-top: 1%;
}